
/*formP5 progressbar style*/
.formP5 .step-wizard-item:nth-child(4) .progress-count::after{
    background-color: #2CB7A4;
    width: 15px;
    height: 15px;
    border:2px solid white;
}
.formP5 .step-wizard-item:nth-child(4) .progress-label{
    color:white;
}
.mail-title{
    font-size: 14px;
    padding-bottom: 15px;
    border-bottom: 3px solid #F5F5F5;
}
.user3-input-list{
    margin-top: 37px;
}
.user3-input-list:nth-of-type(1){
    border-bottom: 3px solid #F5F5F5;
}
.user3-input-cpnt{
    padding-bottom: 40px;
}
.user3-input-label{
    font-size: 13px;
}
.user3-input-inner{
    padding-top: 20px;
}
/* radio button style */
.user3-input-inner input[type="radio"] {
    appearance: none;
    background-color: #F2F2F2;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    position: relative;
}
.user3-input-inner label+label{
    margin-left:10px;
}
.user3-input-inner label span{
    vertical-align: middle;
    margin-left: -3px;
    font-size: 13px;
    
}
.user3-input-inner label input{
    vertical-align: middle;
    margin:0 5px 0 0;

}

.user3-input-inner input[type="radio"]:checked {
    border:1px solid #2CB7A4;
    background-color: white;
}
.user3-input-inner input[type="radio"]:checked::after {
    content: "";
    width: 10px;
    height:10px;
    background-color: #2CB7A4;
    position: absolute;
    border-radius: 50%;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    
}

.user3-input-inner input[type=text]{
    display: inline-block;
    padding:0 0 10px 0;
    text-indent: 10px;
    border:none;
    border-bottom:1px solid #707070 ;
    font-size: 13px;
    width: 100%;

}

.check-agree-wrap p{
    display: inline-block;
    margin-left: -27px;
    font-weight: 500;
    font-size: 13px;
}
.agree-exp-list{
    margin-top: 14px;
}
.agree-exp-list li{
    font-size: 13px;
    font-weight: 500;
    color:#B5B5B5;
    line-height: 145%;
    display: flex;
}
.agree-exp-list li::before{
    content:"";
    display: inline-block;
    vertical-align: middle;
    margin-top:5px;
    margin-right: 5px;
    width:4px;
    height:4px;
    background:#B5B5B5;
    border-radius: 50%;
    flex-shrink: 0;
}

.check-btn-list{
    padding-top: 10px;
    margin-top: 15px;
    border-top: 1px solid #DEDEDE;
}
.check-btn-cpnt:nth-child(1){
    padding-bottom: 15px;
}

.re-check-wrap{
    display: none;
}
.re-check-cpnt{
    padding-bottom: 40px;
}
.input-text-change{
    padding: 10px 0;
    text-indent: 10px;
    border-bottom: 1px solid #707070;
    font-size: 13px;
    color: #000;
}
.check-btn-cpnt p{
    display: inline-block;
    margin-left: -27px;
    font-weight: 500;
    font-size: 13px;
}
.re-agree-text-wrap .check-btn-list{
    padding:0;
    margin:0;
    border:none;
}
.type2-bottom-btn:nth-child(2)::after{
    font-family: 'NanumSquareRound';
    content: "웹팩스";
    color:white;
    font-size: 11px;
    font-weight: 700;
}

/*formP5 popup style*/
.popup_wrap{
    width: 100%;
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    display: none;
    z-index: 200;
    background: rgba(0,0,0,0.7);
    
}
.popup_content{
    
    padding:0 20px;
    position: absolute;
    left:0;
    right:0;
    bottom:-100%;
    background-color: white;
    border-radius: 30px 30px 0 0;
}

.popup_content .header{
    padding:25px 0 22px 0;
    width: 100vw;
    margin-left: -20px;
    text-indent: 20px;
    border-bottom: 3px solid #F5F5F5;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
.popup_content .header .close{
    margin-right: 35px;
    width: 15px;
    height: auto;
    background: url('../img/close.svg')no-repeat;
    cursor: pointer;
    
}


/*팝업 하단 한개 버튼 style*/
.rea-btn-bottom{
    background-color: #2CB7A4;
    width: 100vw;
    display: block;
    line-height: 55px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    margin-left: -20px;
    border:none;
    box-sizing: border-box;
}


.reason-text{
    width: 100%;
    background: url(../img/arrow-down.svg)no-repeat right 10px bottom 12px;
    display: inline-block;
    padding: 10px 0;
    text-indent: 10px;
    border: none;
    border-bottom: 1px solid #707070;
    font-size: 13px;
}
.reason-text + textarea[name="reason-etc-text"]{
    width: 100%;
    margin-top: 10px;
    display: block;
    display: none;
    border-radius: 10px;
    border:1.5px solid #cecece;
    padding:10px;
    resize: none;
}
.reason-text + textarea[name="reason-etc-text"]::placeholder{
    color:#B5B5B5;
}

/*formP5 popup radio style*/
.formP5 .popup_wrap .radioWrap{
    font-weight: 500;
}
.formP5 .popup_wrap input[type=radio]{
    display: none;
}
.formP5 .popup_wrap .form_radio_btn label{
    display: block;
    padding:25px 20px 25px 0;
    border-radius: 10px;
    background:white url(../img/check.svg)no-repeat center right 29px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
}
.formP5 .popup_wrap input[type=radio]:checked + label{
    border-bottom:2px solid #F5F5F5 ;
    background:white url(../img/check-orange.svg)no-repeat center right 10px / 20px auto;
}
.formP5 .popup_wrap input[type=radio] + label{
    border-bottom:2px solid #F5F5F5 ;
    background:white url(../img/check-grayBig.svg)no-repeat center right 10px / 20px auto;
}

/*progress layout style*/
.progress-wrap {
    position: fixed;
    z-index: 500;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
.progress-content {
    position: absolute;
    width: 60%;
    max-width: 220px;
    padding: 20px 30px;
    background: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 14px;
}
.scaling-wrap {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 70px;
    overflow: hidden;
    width: 100%;
}
.progress-text {
    margin-top: 20px;
    font-weight: 500;
    line-height: 25px;
    color: #808080;
    text-align: center;
    word-break: keep-all;
}

/*progressbar style*/
@keyframes scaling-circle {
    0%, 30%, 50%, 100% {
      transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px)) scale(1);
    }
    40% {
      transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px)) scale(0);
    }
}
.scaling-circle {
--radius: 25;
--size: 10;
height: calc(var(--size) * 1px);
width: calc(var(--size) * 1px);
position: absolute;
z-index: 1000;
}

.scaling-circle div {
height: 100%;
width: 100%;
position: absolute;
border-radius: 100%;
background: #92c6bf;
animation: scaling-circle 1s calc(var(--delay) * 1.2s) infinite ease;
transform: rotate(calc(var(--angle) * 1deg)) translate(0, calc(var(--radius) * 1px));
}

.scaling-circle div:nth-child(1) {
--angle: 45;
--delay: 0.1;
}

.scaling-circle div:nth-child(2) {
--angle: 90;
--delay: 0.2;
}

.scaling-circle div:nth-child(3) {
--angle: 135;
--delay: 0.3;
}

.scaling-circle div:nth-child(4) {
--angle: 180;
--delay: 0.4;
}

.scaling-circle div:nth-child(5) {
--angle: 225;
--delay: 0.5;
}

.scaling-circle div:nth-child(6) {
--angle: 270;
--delay: 0.6;
}

.scaling-circle div:nth-child(7) {
--angle: 315;
--delay: 0.7;
}

.scaling-circle div:nth-child(8) {
--angle: 360;
--delay: 0.8;
}