@font-face {
    font-family: 'NanumSquareRound';
    font-weight: 300; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumSquareRoundL.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'NanumSquareRound';
    font-weight: 400; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumSquareRoundR.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'NanumSquareRound';
    font-weight: 500; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumSquareRoundB.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'NanumSquareRound';
    font-weight: 700; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumSquareRoundEB.woff2) format('woff2');
    font-display: swap;
}

/* @font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
} */

/* ------공통------*/
body{
    font-family: "NanumSquareRound";
}
.title{
    font-family: "NanumSquareRound";
    padding:20px 45px 20px 25px;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 3px solid #f5f5f5;
    line-height: 150%;

}

/*스크롤 막기 css*/
.notScroll {overflow: hidden;width: 100%;height: 100vh;touch-action:none;}

/*checked*/
.formP2 input[type=radio]:checked + label{
    border: 2px solid #2CB7A4;
    background:white url(../img/check-checked.svg)no-repeat center right 29px;
}
.formP2 input[type=radio] + label{
    background:white url(../img/check-grayBig.svg)no-repeat center right 29px;

}

/*하단 버튼*/
.btn-bottom-wrap{
    position: fixed;
    background-color: #fff;
    width: 100%;
    line-height: 55px;
    color: white;
    left:0;
    bottom: 0;
    font-weight: 800;
    padding-bottom: 20px;
}
.btn-bottom{
    background-color: #EFEFEF;
    width: calc(100% - 40px);
    display: block;
    line-height: 55px;
    border-radius: 10px;
    color: #B7B7B7;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    border:none;
    box-sizing: border-box;
    cursor: pointer;

}

.btn-bottom a{
    font-size: 16px;
    font-weight: 900;
    display: block;
    box-sizing: border-box;
}

/*하단 두개 버튼 style*/
.btn-bottom-wrap2{
    position: fixed;
    background-color: #fff;
    width: 100%;
    line-height: 55px;
    color: white;
    left:0;
    bottom: 0;
    font-weight: 800;
    padding: 0 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.btn-bottom2{
    background-color: #2CB7A4;
    width: calc(50% - 5px);
    display: block;
    line-height: 49px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    border:none;
    box-sizing: border-box;
}
.btn-bottom2:nth-child(1){
    background-color: white;
    color:#2CB7A4;
    border: 2px solid #2CB7A4 ;
}
.btn-bottom2 a{
    font-size: 16px;
    font-weight: 900;
    display: block;
}
/*팝업 하단 한개 버튼 style*/
.pu-btn-bottom{
    background-color: #2CB7A4;
    width: 100vw;
    display: block;
    line-height: 55px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    margin-left: -20px;
    border:none;
    box-sizing: border-box;
}

/*h3 밑에 컨텐트*/
.content{
    padding:20px 20px 125px 20px;
    position: relative;
    
}

/*신청서 작성 progressbar 기본 style*/
.step-wizard{
    width: 100%;
    background-color: #2CB7A4;
    height: 85px;
}
.step-wizard-list{
    padding:9px 20px 20px 20px;
    color:white;
    display: flex;
    position: relative;
    z-index: 10;
}
.step-wizard-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    /* z-index: 10; */
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    /*남은 여백을 동일한 너비로 채운다*/
    position: relative;
}
.step-wizard-item + .step-wizard-item::after{
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    /* border: 1px solid #000; */
    background-color: #fff;
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    /* transform: translateX(-50%) 자기크기의 반만큼 앞으로 이동 */
    z-index: -10;
}
/* 저선택자로 첫번째 step-wizard-item에는 안생김 / 가로줄 css임 */
.progress-count{
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto;
    position:relative;
    z-index: 10;
    color:transparent;
}
.progress-count::after{
    content:"";
    width: 17px;
    height:17px;
    background-color: white;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
}
.progress-label{
    margin-top: 6px;
}


/*formpage1 style*/
.formP1{
    background-color: #F5F5F5;
}
.f1{
    background:white url(../img/vector.svg)no-repeat center right 20px;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #E3E3E3;
}
.f1 a{
    padding: 20px 20px;
    display: block;
}

/*formpage2 style*/


.formP2 .radioWrap{
    font-weight: 500;
}
.formP2 input[type=radio]{
    display: none;
}
.formP2 .form_radio_btn label{
    display: block;
    padding:16px 20px;
    border-radius: 10px;
    border: 2px solid #e0e0e0;
    background:white url(../img/check.svg)no-repeat center right 29px;
    margin-bottom: 10px;
    font-size: 15px;
}

.formP2 .step-wizard-item:nth-child(2)::after,
.formP2 .step-wizard-item:nth-child(3)::after,
.formP2 .step-wizard-item:nth-child(4)::after{
    background-color: #3A9286;
}
.formP2 .step-wizard-item:nth-child(1) .progress-count::after{
    background-color: #2CB7A4;
    width: 15px;
    height: 15px;
    border:2px solid #fff;
}
.formP2 .step-wizard-item:nth-child(2) .progress-count::after,
.formP2 .step-wizard-item:nth-child(3) .progress-count::after,
.formP2 .step-wizard-item:nth-child(4) .progress-count::after{
    background-color: #2CB7A4;
    width: 15px;
    height: 15px;
    border:2px solid #3A9286;
}
.formP2 .step-wizard-item:nth-child(2) .progress-label,
.formP2 .step-wizard-item:nth-child(3) .progress-label,
.formP2 .step-wizard-item:nth-child(4) .progress-label{
    color:#3A9286;
}


/*formpage3 style*/

.formP3 .step-wizard-item:nth-child(3)::after,
.formP3 .step-wizard-item:nth-child(4)::after{
    background-color: #3A9286;
}
.formP3 .step-wizard-item:nth-child(2) .progress-count::after{
    background-color: #2CB7A4;
    width: 15px;
    height: 15px;
    border:2px solid #fff;
}
.formP3 .step-wizard-item:nth-child(3) .progress-count::after,
.formP3 .step-wizard-item:nth-child(4) .progress-count::after{
    background-color: #2CB7A4;
    width: 15px;
    height: 15px;
    border:2px solid #3A9286;
}
.formP3 .step-wizard-item:nth-child(3) .progress-label,
.formP3 .step-wizard-item:nth-child(4) .progress-label{
    color:#3A9286;
}

.formP3{
    position: relative;
}
form .inputWrap{
    font-weight: 500;
    font-size: 13px;
    padding-bottom: 37px;
}
form .inputWrap input{
    font-family:  "NanumSquareRound",sans-serif;
    padding:20px 0 10.5px 0;
    text-indent: 10px;
    border:none;
    border-bottom:1px solid #707070 ;
    font-size: 13px;
}
form .inputWrap input::placeholder{
    color:#BFBFBF;
}
form>.inputWrap:nth-child(1) input{
    width: 100%;
}
form>.inputWrap:nth-child(2) input{
    width: calc(50% - 16px);
}
form>.inputWrap:nth-child(2) span{
    padding:0 8px;
}
form>.inputWrap:nth-child(3) input[type="text"],
form>.inputWrap:nth-child(4) input[type="text"],
form>.inputWrap:nth-child(5) input[type="text"]{
    width: 100%;
}
form>.inputWrap:nth-child(3) input[type="text"]:nth-of-type(1),
form>.inputWrap:nth-child(4) input[type="text"]:nth-of-type(1){
    background: url('../img/search.svg')no-repeat right 10px bottom 12px;
}

/*filewrap style */
.fileWrap h3{
    font-size: 17px;
    padding:15px 0 22px 0;
    font-weight:500;
    border-bottom: 3px solid #F5F5F5;
}
.fileWrap .fileBox{
    margin-top: 37px;
    width: 100%;
    font-weight: 500;
    font-size: 13px;
}

.fileWrap .fileBox .upload-name{
    font-family:  "NanumSquareRound",sans-serif;
    padding:20px 0 10.5px 0;
    text-indent: 10px;
    border:none;
    border-bottom:1px solid #707070 ;
    font-size: 13px;
    color:#BFBFBF;
    width: calc(100% - 95px);
}
.fileWrap .fileBox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

/*file wrap > 1,3 번쨰 filBbox style**/

.fileWrap .fileBox .fileBoxInner{
    display: flex;
}


/*file wrap > 2번쨰 filBbox style*/
.fileWrap .fileBox:nth-of-type(2){
    display: flex;
}
.fileWrap .fileBox .fileBoxLeft{
    width: calc(100% - 95px);
}
.fileWrap .fileBox .fileBoxLeft .upload-name{
    width: 100%;
}
.fileWrap .fileBoxRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.7%;
    flex-shrink: 0;
}
.fileWrap .fileBoxRight .onlineBtn{
    font-size: 13px;
    font-weight: bold;
    border:1px solid #2CB7A4;
    border-radius: 20px;
    color:#2CB7A4;
    line-height: 30px;
    text-align: center;
    margin-bottom: 7px;
}


/*file label style*/
.fileWrap .fileBox label {
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    padding: 0 10px 0 30px;
    color: #fff;
    background: #2CB7A4 url('../img/camera.svg')no-repeat center left 10px / 15px auto;
    border-radius: 20px;
    cursor: pointer;
    line-height: 30px;
    flex-shrink: 0;
}
.fileWrap .fileBox:nth-of-type(2) label ,
.fileWrap .fileBox:nth-of-type(3) label {
    background: #2CB7A4 url('../img/fileAdd.svg')no-repeat center left 10px / 15px auto;
}

.fileWrap .fileBox .fileBoxInner label{
    height: 30px;
    margin-top: 15px;
    margin-left: 1.7%;
    flex-shrink: 0;
}

/*checkbox style*/
.check_wrap{
    margin-top:30px;
}
.check_wrap input{
    display:none;
}

.check_wrap input + label{
    cursor:pointer;
    
}
.check_wrap input + label > span{
    vertical-align: middle;
    font-size:13px;
    font-weight:500;
    margin-left:10px;
}
/* label:before에 체크하기 전 상태 CSS */
.check_wrap input + label:before{
    content:"";
    display:inline-block;
    width:20px;
    height: 20px;
    background-image:url('../img/check-gray.svg');
    background-color:#EFEFEF;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 4px;
    vertical-align:middle;
}
    
/* label:before에 체크 된 상태 CSS */  
.check_wrap input:checked + label:before{
    content:"";
    background-color:#2CB7A4;
    background-image: url('../img/check-white.svg');
    background-repeat: no-repeat;
    background-position: 50%;
}
.check_wrap p{
    font-weight: 500;
    font-size: 12px;
    line-height: 135%;
    color:#B5B5B5;
    margin-top: 6px;
}

/*inputCheckWrap style*/
.inputCheckWrap{
    width: 100%;
    background-color: white;
    z-index: 100;
    display: none;
}
.reCheckWrap{
    font-weight: 500;
    font-size: 13px;
    padding-bottom: 37px;
}
.reCheckWrap p{
    font-family: "NanumSquareRound";
    padding: 20px 0 10.5px 0;
    text-indent: 10px;
    border: none;
    border-bottom: 1px solid #707070;
    font-size: 13px;
    font-weight: 400;
}
.reCheckWrap:nth-child(2) p{
    width: calc(50% - 16px);
    display: inline-block;
}
.formP4 .reCheckWrap:nth-child(2) p{
    width: 100%;
}
.reCheckWrap:nth-child(2) span{
    padding:0 8px;
}
.reCheckWrap:nth-child(3) p,
.reCheckWrap:nth-child(4) p{
    width: 100%;
}
.inputCheckWrap .fileWrap .reCheckWrap:nth-of-type(1){
    margin-top: 37px;
}
.inputCheckWrap .fileWrap .reCheckWrap p{
    width: 100%;
}
.inputCheckWrap .content>span{
    font-weight: 500;
    font-size: 13px;
    text-decoration: underline;
}


/*formpage4 style*/
.formP4 .step-wizard-item:nth-child(4)::after{
    background-color: #3A9286;
}
.formP4 .step-wizard-item:nth-child(3) .progress-count::after{
    background-color: #2CB7A4;
    width: 15px;
    height: 15px;
    border:2px solid #fff;
}
.formP4 .step-wizard-item:nth-child(4) .progress-count::after{
    background-color: #2CB7A4;
    width: 15px;
    height: 15px;
    border:2px solid #3A9286;
}
.formP4 .step-wizard-item:nth-child(4) .progress-label{
    color:#3A9286;
}
.formP4 form>.inputWrap:nth-child(2) input{
    width: 100%;
    background: url('../img/arrow-down.svg')no-repeat right 10px bottom 12px;
}

/*formP4 popup style*/
.popup_wrap{
    width: 100%;
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    display: none;
    z-index: 200;
    background: rgba(0,0,0,0.7);
    
}
.popup_content{
    
    padding:0 20px;
    position: absolute;
    left:0;
    right:0;
    bottom:-100%;
    background-color: white;
    border-radius: 30px 30px 0 0;
}

.popup_content .header{
    padding:25px 0 22px 0;
    width: 100vw;
    margin-left: -20px;
    text-indent: 20px;
    border-bottom: 3px solid #F5F5F5;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
.popup_content .header .close{
    margin-right: 35px;
    width: 15px;
    height: auto;
    background: url('../img/close.svg')no-repeat;
    cursor: pointer;
    
}
/*formP4 popup radio style*/
.formP4 .radioWrap{
    font-weight: 500;
}
.formP4 input[type=radio]{
    display: none;
}
.formP4 .form_radio_btn label{
    display: block;
    padding:25px 20px 25px 0;
    border-radius: 10px;
    background:white url(../img/check.svg)no-repeat center right 29px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
}
.formP4 input[type=radio]:checked + label{
    border-bottom:2px solid #F5F5F5 ;
    background:white url(../img/check-orange.svg)no-repeat center right 10px / 20px auto;
}
.formP4 input[type=radio] + label{
    border-bottom:2px solid #F5F5F5 ;
    background:white url(../img/check-grayBig.svg)no-repeat center right 10px / 20px auto;

}


/*formpsge5 style*/


/*formP5 progressbar style*/
.formP5 .step-wizard-item:nth-child(4) .progress-count::after{
    background-color: #2CB7A4;
    width: 15px;
    height: 15px;
    border:2px solid white;
}
.formP5 .step-wizard-item:nth-child(4) .progress-label{
    color:white;
}


.formP5 form h4{
    padding-bottom: 15px;
    border-bottom: 2px solid #F5F5F5;
    font-size: 14px;
    font-weight: 500;
}
.formP5 form>div:nth-child(1){
    padding-bottom: 25px;
    border-bottom: 2px solid #F5F5F5;
}
.formP5 form>div:nth-child(2){
    margin-top: 25px;
    padding-bottom: 40px;
}
.formP5 form>p{
    font-size: 12px;
    font-weight: 500;
    color:#B3B3B3;
}

.formP5 form .labelRadioWrap{
    margin-top: 25px;
    font-size: 13px;
    font-weight: 500;
}
.formP5 form .labelRadioWrap:nth-of-type(2){
    margin-top :33px;
}
.formP5 label+label{
    margin-left:10px;
}
.formP5 label span{
    vertical-align: middle;
    margin-left: -3px;
    
}
.formP5 label input{
    vertical-align: middle;
    margin:0 5px 0 0;

}
.formP5 .radioWrap{
    margin-top:15px;
    font-weight: 400;
}
/*radio style*/
.formP5 input[type="radio"] {
    appearance: none;
    background-color: #F2F2F2;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    position: relative;
}

.formP5 input[type="radio"]:checked {
    border:1px solid #2CB7A4;
    background-color: white;
}
.formP5 input[type="radio"]:checked::after {
    content: "";
    width: 10px;
    height:10px;
    background-color: #2CB7A4;
    position: absolute;
    border-radius: 50%;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    
}
.formP5 .inputWrap{
    padding-bottom: 0;
}
.formP5 .inputWrap input{
    width: 100%;
}